.stats-card {
  background: var(--header-bg);
  border-radius: 14px;
  border-left: 5px solid;
  color: var(--text-color);
  transition: 0.3s ease;
  position: relative;
  box-shadow: var(--shadow-lg);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  }
}

.btn-success {
  background-color: #1982c4 !important;
  border-color: #1982c4 !important;
}

.btn-danger {
  background-color: #ff595e !important;
  border-color: #ff595e !important;
}

/* Hover effect */
.btn-success:hover {
  background-color: #1560a3 !important;
  border-color: #1560a3 !important;
}

.btn-danger:hover {
  background-color: #e04e52 !important;
  border-color: #e04e52 !important;
}
